<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="app">
    <input type="text" v-model="text"/>
    <input type="radio" v-model="rad" value="男"/> 男
    <input type="radio" v-model="rad" value="女"/> 女
    <input type="checkbox" v-model="check" value="aa"/>aa
    <input type="checkbox" v-model="check" value="bb"/>bb
    <input type="checkbox" v-model="check" value="cc"/>cc
    <select v-model="sel" id="">
        <option value="aaa">111</option>
        <option value="bbb">bbb</option>
        <option value="ccc">ccc</option>

    </select>
</div>
<script src="vue.js"></script>
<script>

    var vm = new Vue({
        el: '#app',
        data: {
            text:'',
            rad:'',
            check:[],
            sel:''
        }
    });

</script>
</body>
</html>